<html>
    <head>
        <title>Monitor App</title>


        <!-- Main page color response js script -->
        <script src="./js/colorsttus.js"></script>
    </head>

    <body>
        


        {{{body}}}







    </body>
</html>