{{>header}}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="legends">
                <p>
                    <span>Up &amp; Running</span>&nbsp;&nbsp;<i class="fas fa-circle legend-green"></i><br>
                    <span>Down</span>&nbsp;&nbsp;<i class="fas fa-circle legend-red"></i>
                </p>
            </div>
            <div id="sites">
                <p>Current Status of The Sites</p>
                <hr>
            </div>
            <table>
    {{#each sites}}
                <tr>
                    <td><a href="/home/allsites/{{this._id}}">{{this.name}}</a></td>
                    <td><i class="fas fa-circle"></i></td>
                </tr>
    {{/each}}
            </table>
            
            <div class="form-submit">
                <a href="/home" class="btn btn-primary">Back</a>
            </div>
            <p class="small"><em>You can change the site name or URL by clicking on its name.</em></p>
        </div>
    </div>
</div>
