{{>header}}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="homepage-buttons">
                <a class="btn btn-primary" href="/home/new">Add New Site</a>
                <a class="btn btn-primary" href="/allsites">Monitor Current Sites</a>
            </div>
        </div>
    </div>
</div>