{{>header}}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p class="center-p new-p">Add a New Site to the Monitoring Tool</p>

            <div class="new-form">
                <form action="" method="POST" id="newForm">
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Site Name">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Site URL (Include http://)">
                        <label id="example"><span style="color:#D3461C;">e.g: </span>https://www.example.com</label>
                    </div>
                    <div class="form-submit">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <a href="/home" class="btn btn-danger">Back</a>
                    </div>
                </form> 
            </div>
        </div>
    </div>
</div>